*{margin: 0; padding: 0;}
.container{position: relative;
            width: 1070px;
            height: 800px;
            border: 1px dotted #333;
            margin: 100px auto 0;}
h1{text-align: center;}
.box{position: absolute;
    width: 260px;
    height: 260px;}
.box::after{position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(0,0,255,0.7);
    transition: all 0.5s;}
.box1::after{width: 0%;
            height: 100%;}
.box1:hover::after{width: 100%;}
.box2::after{width: 0%;
            height: 100%; }
.box2:hover::after{width: 100%;}
.box3::after{width: 0%;
            height: 100%;}
.box3:hover::after{width: 100%;}
.box4::after{width: 0%;
            height: 100%;}
.box4:hover::after{width: 100%;}
.box5::after{width: 0%;
            height: 100%;}
.box5:hover::after{width: 100%;}
.box6::after{width: 100%;
            height: 0%;}
.box6:hover::after{height: 100%;}
.box7::after{width: 0%;
            height: 100%;}
.box7:hover::after{width: 100%;}
.box8::after{width: 100%; 
            height: 0%; }
.box8:hover::after{height: 100%;}
.box9::after{width: 0%;
            height: 100%;}
.box9:hover::after{width: 100%;}
.box1{top: 0; left: 0;}
.box2{width: 260px;
    height: 530px;
    top: 0; left: 270px;}
.box3{top: 0; right: 270px;}
.box4{top: 0; right: 0;}
.box5{top: 270px; left: 0;}
.box6{width: 530px; height: 260px;
    top: 270px; right: 0;}
.box7{bottom: 0; left: 0;}
.box8{width: 530px; height: 260px;
    bottom: 0; left: 270px;}
.box9{bottom: 0; right: 0;}
.box p{position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding-top: 30px;
        box-sizing: border-box;
        color: white;
        text-align: center;
        transition: all 0.5s;
        opacity: 0;
        background: url(images2/more.png)no-repeat 50% 80%;
        z-index: 2;}
.box p:hover{opacity: 1;}
